@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
    <div class="agileits-top">
        <div>
            <p> Please Check Your Inbox </p>
            <p>
                <a href="https://mail.google.com" target="_blank">Go To Your Inbox </a>
            </p>
        </div>
    </div>
</div>
